.progectsPage .container .pages {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.progectsPage .container .pages p {
    font-size: 20px;
    /* text-align: center; */
}

.progectsPage .container .images .box {
    background-color: #fff;
}

.progectsPage .container .pages .box:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.progectsPage .container .pages p:hover {
    color: red;
}

/* .progectsPage .container .images {
    display: ;
} */
.progectsPage .container .images img {
    height: 200px;
    width: 315px;
}